/*  ======================
    HTML ELEMENTS
    ======================  */

html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #00f260;
    background: -webkit-linear-gradient(to right, #00f260, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00f260, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
  font-family: 'Old Standard TT', serif;
  /* font-family: 'PT Sans', sans-serif; */
  color: #454545;
}

h1{
   font-family: 'Georgia', cursive;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   text-align: center;
   margin-top: 1%;
   margin-bottom: 1%;
   font-size: 4em;
}

h2{

}

h3{
  font-family: 'Questrial', sans-serif;
}

/*  ======================
    NAVIGATION BAR ON TOP OF PAGES
    ======================    */

    ul {
      list-style-type: none;
      border-width: 5px; 
      border-color: #0573E6;
      border-style: outset;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000;
      /* background-color: #FF9900; */
    }
    
    li {
      float: left;
      font-family: 'Ubuntu', sans-serif;
    }

    li:last-child
    {
      float: right;
    }
    
    li a {
      font-family: 'Old Standard TT', serif;
      font-weight: bold;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      background-color: #0575E6;
    }
 
  /*  ===============
      PAGE TITLES 
      ===============
                      */

  .page-title {
    color: white;
    text-shadow: 4px 4px #0575E6;
    /* background-color: lightgoldenrodyellow; */
  }

  /*  ==============
      PAGE FOOTERS
      ==============
                      */

  .site-footer{
  
}

.copyright-text{
  margin-bottom: 1%;
  margin-top: 1%;

}
.footer-link{
  
  margin-top: 1%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;

}

.bottom-footer{
  margin-left: 25%;
}


/*  ===============
    BUTTONS ON EVENT PAGE
    ===============       */

    .buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
  }
  
  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      
      padding:  40px 0px;
      width: 240px;
    }
  
  .btn {
      letter-spacing: 0.1em;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 45px;
      max-width: 360px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
    }
  
    .btn:hover {
      text-decoration: none;
    }
  
    .effect01 {
      color: #FFF;
      border: 4px solid #000;
      box-shadow:0px 0px 0px 1px #000 inset;
      background-color: #000;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
  
    .effect01:hover {
      border: 4px solid #666;
      background-color: #FFF;
      box-shadow:0px 0px 0px 4px #EEE inset;
    }
  
    .effect01 span {
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    .effect01:hover span{
      letter-spacing: 0.13em;
      color: #333;
    }
  
    .effect01:after {
      background: #FFF;
      border: 0px solid #000;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .8;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
      width: 50px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
      z-index: 1;
    }
    .effect01:hover:after {
      background: #FFF;
      border: 20px solid #000;
      opacity: 0;
      left: 120%;
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
    }

    /*  ===================
        DIV STYLES OF INDEX PAGE
        ===================   */
 
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left main main right1"
      "left main main right2"
      "left main main right3";
  }
  .main {
     grid-area: main;
     margin-left: 2vh; 
     margin-right: 2vh;
  }
  .right1 { grid-area: right1; }
  .right2 { grid-area: right2; }
  .right3 { grid-area: right3; }
  .left {
     grid-area: left;
     margin-right: 2vh; 
  }

.seminar-img-exception{
    width: 100%;
    height: auto;

}

.seminar-img{
    width: 100%;
    height: auto;
}
    
/*    ====================
      ADMINISTRATOR LOGIN FORM
      ====================
*/

.adminlogin{
  background-color: #88bdbc;
  font-family: 'Ubuntu', sans-serif;
}

.login_container{
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign{
  padding-top: 40px;
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.username{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.loginform{
  padding-top: 40px;
}

.password{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.username:focus, .password:focus{
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right top, #0000ff, #1f25e5, #3133cb, #3d3caf, #464393);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot{
  
  color: blue;
  padding-top: 15px;
}

a{
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: #E1BEE7;
      padding-top: 15px;
}


/*    ===============
      SURVEY FORM
      ===============
*/

.textbox {
  position: relative;
  padding: 15px 1% 0;
  margin-top: 10px;
  width: 30%;
}

.textbox-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s; 
} 

.textbox-field::placeholder{
    color:transparent;
}

.textbox-field:placeholder-shown ~ .textbox-label{
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.textbox-label{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.textbox-field:focus ~ .textbox-label{
  position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 1rem;
color: #11998e;
font-weight: 700;

}

.textbox-field:required, .textbox-field:invalid {
      box-shadow: none;
}

.form {
padding: 0 16px;
max-width: 550px;
margin: 50 auto;
font-size: 18px;
font-weight: 600;
line-height: 36px;
}

.inputGroup{
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  font-family: 'Questrial', sans-serif;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.survey-body{
  background: white;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

span{
    position: relative;
    z-index: 2;
}

span::before, span::after{
    content: '';
    position: absolute;
    z-index: 1;
    transition: all .3s
}
