html{
    /*background-image: linear-gradient(to right top, #3049ff, #007bff, #009dff, #00b8fe, #12cfeb);
*/
    background-color: #F3EBF6;
    
}
 
 h1{
     font-family: 'Helvetica', sans-serif;
     color: #383838;
     text-align: center;
     margin-top: 5%;
     font-size: 3em;
 }
 
 .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 5 / 4; }
    .div2 { grid-area: 1 / 4 / 2 / 5; }
    .div3 { grid-area: 2 / 4 / 3 / 5; }
    .div4 { grid-area: 3 / 4 / 4 / 5; }
    .div5 { grid-area: 4 / 4 / 5 / 5; }
    .div6 { grid-area: 1 / 1 / 3 / 2; }
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 4 / 1 / 5 / 2; }

.seminar-img-exception{
    width: 15em;
    height: auto;

}

.seminar-img{
    width: 15em;
    height: auto;
}

 p{
    font-family: 'Ubuntu', sans-serif;
    color: black;
 }
 
 ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #f1f1f1;
 
     position: fixed;
     top: 0;
     width: 100%;
 }
 
 li{
    font-family: 'Ubuntu', sans-serif;
     float: left;
     border-right: 1px solid #bbb;
 }
 
 li:last-child{
     border-right: none;
 }
 
 li a{
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 li a:hover{
     background-color: #555;
     color: white;
 }
 
 .active{
     background-color: #4caf50;
 }

.adminlogin{
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.login_container{
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign{
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.username{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.loginform{
    padding-top: 40px;
}

.password{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.username:focus, .password:focus{
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
}

/*      EVENT BUTTONS       */


.eb{
    font-family: 'Lato', sans-serif;
    letter-spacing: .02rem;
    cursor: pointer;
    background: transparent;
    border: .5rem solid currentColor;
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    color: #06c17f;
    position: relative;
    transition: color .3s;
}

.eb:hover{
    color: pink;

}

.eb:active{
    border-width: .5rem / 2;
}

span{
    position: relative;
    z-index: 2;
}

span::before, span::after{
    content: '';
    position: absolute;
    z-index: 1;
    transition: all .3s
}



/*  FOOTER STYLE */
